@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

#storybook-root {
  padding: 0 !important;
}
