.Page {
  flex-grow: 1;
  width: 100%;
  padding: 2px;
  overflow-y: auto;
  height: 100vh;
  flex-shrink: 100;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.trigger {
  min-height: 1px;
  border: 1px solid red;
  min-width: 100%;
}
