.modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  color: var(--primary-color);
  font: var(--font-s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__content {
  border-radius: 12px;
  background: transparent;
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  z-index: var(--modal-z-index);
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);
}
.opened .modal__content {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.isClosing .modal__content {
  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);
}