.title {
  font: var(--font-m);
  color: inherit;
}

.text {
  font: var(--font-s);
  color: inherit;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    font: var(--font-s);
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.icon {
  margin-right: 3px;
}

.size_m {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.size_l {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.inverted {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}
