.title {
  font: var(--font-m);
  color: inherit;
  display: flex;
  align-items: center;
}

.text {
  font: var(--font-s);
  color: inherit;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    font: var(--font-s);
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.icon {
  margin-right: 3px;
}
