.ArticleDetails {
  color: var(--inverted-primary-color);
  min-height: 1000px;
}

.article__paragraph {
  color: var(--inverted-primary-color);
}

.article__title {
  margin-bottom: 1rem;
}

.article__heading {
  color: var(--inverted-primary-color);
}

.icon {
  margin-right: 8px;
  fill: var(--inverted-primary-color);
}
