.Tabs {
    display: flex;
    gap: 8px;
    cursor: pointer;
    font: var(--font-m-redesigned);
    /* stylelint-disable */
    @media (max-width: 575.9px) {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    /* stylelint-enable */
}

.tab {
    transition: all 0.4s ease;
}

.selected {
    padding: 8px 16px;
}
