.Text {
    transition: all 0.4s ease;

    &.size_s {
        font: var(--font-s-redesigned);
    }

    &.size_m {
        font: var(--font-m-redesigned);
    }

    &.size_l {
        font: var(--font-l-redesigned);
    }
}

.title {
    color: var(--text-redesigned);
    transition: all 0.4s ease;
}

.text {
    color: var(--text-redesigned);
    transition: all 0.4s ease;
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        font: var(--font-s);
        color: var(--red-light);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }

    .text {
        color: var(--accent-redesigned);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.icon {
    margin-right: 3px;
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}
