.Button {
  cursor: pointer;
  box-sizing: border-box;
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  color: var(--inverted-secondary-color);
}

.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--secondary-color);
}

.primary {
  padding: 10px 20px;
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
  background: none;
}

.secondary {
  padding: 10px 20px;
  border: 1px solid var(--inverted-secondary-color);
  color: var(--inverted-secondary-color);
}

.outline {
  padding: 10px 20px;
  border: 1px solid var(--inverted-secondary-color);
  color: var(--inverted-secondary-color);
  background: transparent;
  outline: none;
}

.background {
  background: var(--bg-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  border: none;
}

.small {
  font: var(--font-s);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  padding: 10px 20px;
}

.medium {
  font: var(--font-m);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  padding: 10px 20px;
}

.large {
  font: var(--font-l);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  padding: 10px 20px;
}

.square {
  padding: 0;
}

.square.size_d {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  padding: 10px 20px;
}

.square.size_s {
  width: 40px;
  height: 40px;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  padding: 2px;
}

.square.size_m {
  width: 60px;
  height: 60px;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  padding: 4px;
}

.square.size_l {
  width: 80px;
  height: 80px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 5px;
}

.size_d {
  font: var(--font-s);
}

.size_s {
  font: var(--font-s);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}
