.Button {
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.4s ease;
    font: var(--font-s);

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.primary {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.primaryInverted {
    background: transparent;
    border: 1px solid var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.clear {
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
}

.clearInverted {
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--inverted-primary-color);
}

.secondary {
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.secondaryInverted {
    background: transparent;
    border: 1px solid var(--inverted-secondary-color);
    color: var(--inverted-secondary-color);
}

.outline {
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.outlineInverted {
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--inverted-primary-color);
    border: 1px solid var(--inverted-primary-color);
    outline: none;
}

.outline_red {
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: none;
}

.background {
    background: var(--bg-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_d {
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    padding: 10px 20px;
}

.square.size_s {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    padding: 2px;
}

.square.size_m {
    width: 60px;
    height: 60px;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    padding: 4px;
}

.square.size_l {
    width: 80px;
    height: 80px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px;
}

.size_se {
    font: var(--font-se);
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.fullWidth {
    width: 100%;
}
