.sidebar {
  width: 300px;
  padding: 20px;
  z-index: 100;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  overflow: auto;
  transition:
    left 0.5s ease 0s,
    background-color 0.5s ease;

  /* stylelint-disable */
  @media (max-width: 479.9px) {
    width: 325px;
    left: -150%;
  }
  /* stylelint-enable */

  &__logo {
    position: absolute;
    right: 55px;
    top: 27px;
  }

  &__li {
    &:nth-child(3) {
      margin-left: 3px;
    }
  }

  &__link {
    font: var(--font-s);
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__burger {
    position: absolute;
    top: 43px;
    right: 30px;
  }

  &__list {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
  }

  &.collapsed {
    left: 0;
  }
}
