.sidebar {
    width: 300px;
    padding: 20px;
    z-index: 100;
    background: var(--inverted-bg-color);
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    overflow: auto;
    transition:
        left 0.5s ease 0s,
        background-color 0.4s ease;

    /* stylelint-disable */
    @media (max-width: 479.9px) {
        width: 150px;
        left: -100%;
    }
    /* stylelint-enable */

    &__logo {
        position: absolute;
        right: 55px;
        top: 27px;
    }

    &__burger {
        position: absolute;
        top: 43px;
        right: 30px;
    }

    &__burger span,
    &__burger::before,
    &__burger::after {
        background-color: var(--inverted-primary-color);
    }

    &__list {
        margin-top: var(--header-height);
    }

    &__link {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &.collapsed {
        left: 0;
    }
}

.SidebarRedesigned {
    width: 300px;
    padding: 20px;
    z-index: 100;
    background: var(--light-bg-redesigned);
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    overflow: auto;
    transition:
        left 0.5s ease 0s,
        background-color 0.5s ease;

    /* stylelint-disable */
    @media (max-width: 479.9px) {
        width: 150px;
        left: -100%;
    }
    /* stylelint-enable */

    &__logo {
        position: absolute;
        right: 55px;
        top: 27px;
    }

    &__link {
        font: var(--font-s);
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__burger {
        position: absolute;
        top: 43px;
        right: 30px;
    }

    &__list {
        margin-top: var(--header-height);
    }

    &.collapsed {
        left: 0;
    }
}
