.notSelected:focus {
    fill: var(--inverted-primary-color);
}

.ArticleViewSelector__icon {
    fill: var(--primary-color);
    width: 30px;
    height: 30px;
}

.ArticleViewSelector {
    .notSelected {
        fill: var(--inverted-primary-color);
    }
}

.ArticleViewSelectorRedesigned {
    .notSelected {
        color: var(--light-bg-redesigned);
    }
}
