.notSelected:focus {
    fill: var(--inverted-primary-color);
    transition: all 0.4s ease;
}

.ArticleViewSelector__icon {
    fill: var(--primary-color);
    width: 30px;
    height: 30px;
}

.ArticleViewSelector {
    .notSelected {
        fill: var(--inverted-primary-color);
        transition: all 0.4s ease;
    }
}

.ArticleViewSelectorRedesigned {
    transition: all 0.4s ease;
    .notSelected {
        color: var(--light-bg-redesigned);
        transition: all 0.4s ease;
    }
}
