.BIG {
  & .ArticleList__container {
    width: 100%;
    /* stylelint-disable */
    @media (max-width: 480px) {
      padding: 5px;
    }
    /* stylelint-enable */
    .card {
      margin-bottom: 30px;
    }
  }
}

.SMALL {
  min-height: 101vh;

  & .ArticleList__container {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // gap: 16px;
    // padding: 16px;
    // justify-content: start;
    // justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    min-height: 600px;
    margin-left: 100px;
    /* stylelint-disable */
    @media (max-width: 480px) {
      margin-left: 0px;
      justify-content: center;
    }
    /* stylelint-enable */

    .card {
      /* stylelint-disable */
      @media (max-width: 575.9px) {
        margin-bottom: 0px;
      }
      @media (max-width: 480px) {
        margin-right: 0px;
      }
      /* stylelint-enable */
    }
  }
}
