.BIG {
    width: 100%;
    /* stylelint-disable */
    @media (max-width: 480px) {
        padding: 5px;
    }
    /* stylelint-enable */
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .card {
        display: inline-flex;
        height: 300px;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}

.ArticleListRedesigned {
    // min-height: 100vh;
    align-content: flex-start;
    justify-content: flex-start;
    /* stylelint-disable */
    @media (max-width: 767.9px) {
        justify-content: center;
    }
    /* stylelint-enable */
}
