.BIG {
  & .ArticleList {
    width: 100%;
    /* stylelint-disable */
    @media (max-width: 480px) {
      padding: 5px;
    }
    /* stylelint-enable */
    .card {
      margin-bottom: 30px;
    }
  }
}

.SMALL {
  min-height: 105vh;

  &.ArticleList {
    display: flex;
    align-content: flex-start;
    /* stylelint-disable */
    @media (max-width: 480px) {
      margin-left: 0px;
      //   justify-content: center;
    }
    /* stylelint-enable */
    .card {
      /* stylelint-disable */
      @media (max-width: 575.9px) {
        margin-bottom: 0px;
      }
      @media (max-width: 480px) {
        margin-right: 0px;
      }
      /* stylelint-enable */
    }
  }
}
