.ListBox {
  position: relative;
  list-style: none;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: transparent;
  border: 1px solid var(--inverted-primary-color);
  position: absolute;
  z-index: 10000;
  border-radius: 10px;
  width: 223px;
}

.active {
  border-radius: 10px;
}

.disabled {
  opacity: 0.7;
}

.optionsTop {
  top: 40px;
}

.label {
  margin-right: 5px;
  margin-bottom: 10px;
  color: var(--inverted-primary-color);
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--inverted-primary-color);
  cursor: pointer;
  justify-content: space-between;
}

.option__icon {
  position: absolute;
  right: 20px;
  top: 12px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
/* stylelint-disable */
.item:hover .option__icon {
  opacity: 1;
  visibility: visible;
}
/* stylelint-enable */

/* stylelint-disable */
.item.active .option__icon {
  opacity: 1;
  visibility: visible;
}
/* stylelint-enable */
