.ArticlesPage {
    height: 100%;
    &.error {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

.ArticleList {
    box-sizing: border-box;
}

.ArticlesPage__section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    position: relative;
    min-height: 100vh;

    @media (max-width: 767.9px) {
        flex-direction: column;
        justify-content: center;
    }
}

.ArticlesPage__selector {
    position: sticky;
    top: calc(100px + 10px);
    bottom: 10px;
    align-self: flex-start;

    @media (max-width: 767.9px) {
        position: static;
        order: 2;
    }
}

.ArticlesPage__filters {
    position: sticky;
    top: calc(100px + 10px);
    bottom: 10px;
    align-self: flex-start;

    @media (max-width: 767.9px) {
        position: static;
        order: 1;
    }
}

.ArticlesPageRedesigned {
    @media (max-width: 767.9px) {
        order: 3;
    }
}
