.ArticlesPage {
  color: var(--inverted-primary-color);
  min-height: 100%;

  &.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.ArticleList {
  min-height: 650px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  box-sizing: border-box;
}
