.ArticleDetailsPageHeader {
    display: flex;
    align-items: center;
}

.editBtn {
    margin-left: auto;
    margin-bottom: 20px;
}

.ArticleDetailsPage__btn {
    margin-bottom: 20px;
    padding: 10px 20px;
}
