.Icon {
    transition: all 0.4s ease;
    color: var(--icon-redesigned);
    &:hover {
        color: var(--accent-redesigned);
    }
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.button:hover .Icon {
    transition: all 0.4s ease;
    color: var(--accent-redesigned);
}
