.header__navbar {
  &-list {
    display: flex;
    align-items: center;
  }

  &-li {
    margin-right: 20px;
    transition:
      border 0.4s ease,
      color 0.4s ease;
    font: var(--font-s);

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(3),
    &:nth-child(5) {
      display: none;
    }

    &:nth-child(4) {
      button {
        transition:
          border 0.4s ease,
          color 0.4s ease;
        color: var(--primary-color);
      }
    }
    /* stylelint-disable */
    @media (max-width: 991.9px) {
      margin-right: 5px;
    }
    /* stylelint-enable */

    /* stylelint-disable */
    @media (max-width: 767.9px) {
      //   &:nth-child(4) {
      //     display: none;
      //   }
      margin-right: 10px;
    }
    @media (max-width: 520px) {
      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }
    /* stylelint-enable */
  }

  &-lang {
    transition:
      border 0.4s ease,
      color 0.4s ease;
    color: var(--primary-color);
  }

  &-link {
    transition: color 0.4s ease;
    color: var(--primary-color);
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  &-btn {
    color: var(--primary-color);
    transition: color 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
  }

  &-icon {
    margin-right: 5px;
    margin-bottom: 2px;
  }
}

.dropdown__title {
  background-color: var(--inverted-bg-color);
  border: 1px solid var(--inverted-primary-color);
}
