.header__navbar {
    &-list {
        display: flex;
        align-items: center;
    }

    &-li {
        margin-right: 20px;
        transition:
            border 0.4s ease,
            color 0.4s ease;

        &:last-child {
            margin-right: 0;
        }
    }

    &-lang {
        color: var(--inverted-primary-color);
    }

    &-alert {
        fill: var(--inverted-primary-color);
        color: var(--inverted-primary-color);
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
    }

    &-icon {
        margin-left: 5px;
    }
}

.redisignedHeader__navbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin-bottom: 5px;
}

.dropdown__title {
    background-color: var(--inverted-bg-color);
    border: 1px solid var(--inverted-primary-color);
    font: var(--font-s);
    width: 150px;
}

.dropdown__avatar {
    margin-top: 4px;
}

// .actions {
// margin-left: auto;
// margin-top: 4px;
// }
