.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--inverted-bg-color);
    transition: background-color 0.4s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__container {
        width: 100%;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        /* stylelint-disable */
        @media (max-width: 767.9px) {
            padding: 0 10px;
        }
        /* stylelint-enable */
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__burger span,
    &__burger::before,
    &__burger::after {
        background-color: var(--inverted-primary-color);
    }
}

.headerRedesigned {
    width: 100%;
    height: var(--header-height);
    background: var(--light-bg-redesigned);
    transition: background-color 0.4s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__container {
        width: 100%;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        /* stylelint-disable */
        @media (max-width: 767.9px) {
            padding: 0 10px;
        }
        /* stylelint-enable */
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__burger span,
    &__burger::before,
    &__burger::after {
        background-color: var(--text-redesigned);
    }
}
