.header {
  width: 100%;
  height: var(--header-height);
  background: var(--inverted-bg-color);
  transition: background-color 0.4s ease;

  &__container {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }
}
