.Card {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--inverted-primary-color);
  /* stylelint-disable */
  @media (max-width: 479.9px) {
    padding: 10px;
  }
  /* stylelint-enable */
}

.normal {
  border: 1px solid var(--inverted-primary-color);
}

.outlined {
  border: none;
}

.max {
  width: 100%;
}
