.container {
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  border: 1px solid red;
  font-family: var(--fb);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  min-height: 100vh;
}

a {
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  margin: 50px 0px;
  color: var(--primary-color);
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  margin: 20px 0px;
  color: var(--secondary-color);
  font-family: var(--ff);
}

.link {
  font: var(--font-m);
  color: var(--secondary-color);
}

.input {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  border: 1px solid var(--secondary-color);
}
