.profile__header {
    min-height: 80px;
    padding: 0 10px;
    /* stylelint-disable */
    @media (max-width: 480px) {
        flex-direction: column;
    }
    /* stylelint-enable */

    &-title {
        color: var(--primary-color);
        display: flex;
        align-items: center;

        /* stylelint-disable */
        @media (max-width: 480px) {
            // margin: 20px auto;
            display: none;
        }
        /* stylelint-enable */
    }
    &-container {
        justify-content: space-between;
        /* stylelint-disable */
        @media (max-width: 480px) {
            justify-content: center;
        }
        /* stylelint-enable */
    }

    &-box {
        display: flex;
        align-items: center;
    }

    &-btn {
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid var(--primary-color);
        display: flex;
        align-items: center;
        font: var(--font-s);

        /* stylelint-disable */
        @media (max-width: 480px) {
            margin-left: 0px;
            &:first-child {
                margin-right: 5px;
            }
        }

        @media (max-width: 479.9px) {
            padding: 5px 10px;
        }
        /* stylelint-enable */

        &:hover {
            .edit__icon {
                transform: translateY(-3px);
            }
        }

        &:active {
            .edit__icon {
                transform: translateY(0);
            }
        }
    }
}

.edit__icon {
    padding: 3px;
    transition: transform 0.2s ease-in-out;
}
