.Card {
    padding: 15px;
    border-radius: 12px;
    transition: all 0.4s ease;
    border: 1px solid var(--primary-color);
    /* stylelint-disable */
    @media (max-width: 479.9px) {
        padding: 10px;
    }
    /* stylelint-enable */
}

.normal {
    transition: all 0.4s ease;
    border: 2px solid var(--primary-color);
}

.outlined {
    border: none;
}

.max {
    width: 100%;
}
