.Text {
    transition: all 0.4s ease;
    font: var(--font-m);
}

.title {
    transition: all 0.4s ease;
    color: var(--primary-color);
}

.text {
    transition: all 0.4s ease;
    color: var(--primary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        font: var(--font-s);
        color: var(--red-light);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.icon {
    margin-right: 3px;
}

.size_s {
    .title {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-l);
    }
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--primary-color);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-primary-color);
    }
}
